@model DenerMakine.Entities.Department

@{
    ViewData["Title"] = "Departman Bilgileri";
}

<h1>Departman Bilgileri</h1>
<hr />
<div class="row">
    <div class="col-1"></div>
    <div class="col-5">
        <dl class="">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-5">
                <img src="@Html.DisplayFor(model => model.Image)" alt="">

            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
        </dl>
        <div>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
            <a class="btn btn-dark" asp-action="Index">Listeye Dön</a>
        </div>
    </div>

    <div class="col-4 text-muted"><img src="~/kurumsal-logo.jpg" alt="Kurumsal Logo" />
    </div>
    <div class="col-1"></div>
</div>


