@model DenerMakine.Entities.Guide

@{
    ViewData["Title"] = "Kılavuz Bilgileri";
}

<h1>Kılavuz Bilgileri</h1>
<hr>
<div class="row">

    <div class="col-md-1"></div>
    @if (Model.FileType == ".mp4")
    {
        <div class="">
            <video style="width:100%" controls="controls">
                <source src="@Model.File" type=video/mp4 />
            </video>
        </div>

    }
   
    <div class="container">

        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.Image)" style="max-height:100px" alt="">

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.File)
            </dt>
            <dd class="col-sm-10">
                <a target="_blank" href="@Html.DisplayFor(model => model.File)"><i class="fas fa-file btn btn-primary"></i></a>
                <a asp-action="FileDown" asp-route-id="@(Model.Id)"><i class="fas fa-download btn btn-secondary"></i></a>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department.Name)
            </dd>
        </dl>
        <div>

            <a class="btn btn-secondary" onClick="history.go(-1)">Listeye Dön</a>
        </div>

    </div>

    

</div>



