@model IEnumerable<Guide>
@{
    ViewData["Title"] = "KYGS";
}
<!-- Page content-->
<!-- Blog entries-->
<div>
    <!-- Featured blog post-->
    <div class="card mb-4">

        <div class="card-body container">
            <a target="_blank" href="@* dosya yolu*@">
                <img style="width:100%" src="~/gemini_generated_image_ait3qyait3qyait3.png" />
            </a>
            <h2 class="card-title">Dener Makina KYGS Kullanım Kılavuzu</h2>
            <p class="card-text">Dener Makina Kılavuz Yükleme ve Görüntüleme Sistemi Kullanım Kılavuzu. Aracın nasıl kullanılacağı ve özellikleri hakkında bilgi verir. Yükleme ve Görüntüleme işlermlerini açıklar. </p>
            <a class="btn btn-primary" href="@* kullanım kılavuzu yolunun filestreamresult hali*@">İndir</a>
        </div>
    </div>
    <!-- Nested row for non-featured blog posts-->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-6 flex-lg-wrap">
                <!-- Blog post-->
                <div class="card mb-4 bg-dark">
                    <a href="@item.File"><img class="card-img-top" src="/titte-dener.jpg" alt="..." /></a>
                    <div class="card-body text-light">
                        <div class="small text-muted">@item.CreatedDate</div>
                        <div class="small text-muted">@item.Department.Name</div>

                        <h2 class="card-title h4">@item.Name</h2>
                        <p class="card-text">@item.Description</p>
                        <a class="btn btn-primary" href="FileDown/@item.Id">İndir</a>
                    </div>
                </div>
                <!-- Blog post-->

            </div>
        }
    </div>
    <!-- Pagination sayfayı numara ile değiştirerek sayfada belli sayıda içerik göstermek için
        bunun için foreach döngüsü bir yerde kesilerek diğer sayfada devam edilecek şekilde düzenlenebilir.
        şuanki haliyle tüm içerikler tek sayfada gösteriliyor      
    -->
    @* <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="#!">15</a></li>
            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
        </ul>
    </nav> *@
</div>


