@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@section Scripts {
    <script>

    </script>
}
@Html.CheckBox("Onayliyorum", false)Onaylıyorum
<hr>
<br>
<h2>Partial View</h2>
@*@Html.Partial("_NewPartialView")*@
<br>
<partial name="_NewPartialView" />
<br>
@await Html.PartialAsync("_NewPartialView")
@ViewBag.DepartmanAdi
<br>
@ViewBag.KilavuzAdi
<br>
@ViewBag.Tarih
<br />
@ViewBag.CookieDepartman
<br>
@ViewBag.Session
<form asp-action="Privacy">
    @Html.TextBox("Dep")
    <br>
    @Html.TextBox("Gui")
    <br>
    @Html.TextBox("Date")
    <br>
    <input id="Submit1" type="submit" value="Gönder" />
</form>
<br>
<form asp-action="Privacy" method="get">
    @Html.TextBox("Search")
    <br>
    <input id="Submit1" type="submit" value="Ara" />
</form>