
@{
    ViewBag.Title = "MVC ViewResult Çeşitleri";
}

<h2>MVC ViewResult Çeşitleri</h2>

ActionResult
<hr />
@Html.ActionLink("RedirectResult", "Index2")
<hr />
@Html.ActionLink("RedirectToRouteResult", "Index3")
<hr />

PartialViewResult
<br />
<h3>Kategorileri Partial ile Getirme</h3>
@Html.Partial("_KategorilerPartial")
<hr />
<h3>Kategorileri Action ile Getirme</h3>

@Html.Action("KategorileriPartialIleGetir")
<hr />
<h3>Kategorileri Model Kullanarak Action ile Getir</h3>
@Html.Action("KategorileriModelIleGetir")
<hr />
File Result
<br />
@Html.ActionLink("FileResult", "PDFDosyaIndir", "", new
{target="_blank"})
<hr />
Metin Dosyası İndir
<br />
@Html.ActionLink("Kayıtlı Metin", "MetinDosyaIndir")
<hr />
Metin İndir
<br />
@Html.ActionLink("Controller string metin", "MetinDosyasiIndir")
<hr />
Javascript Result
@*<script src="/Mvc13ViewResult/JavaScriptResultOrnegi"></script>*@

@Html.ActionLink("JS result", "JavaScriptResultOrnegi")
<br />
@Html.ActionLink("JS result", "JSClick")
<script src="/Mvc13ViewResult/JSClick"></script>
<input id="Button1" onclick="button_click()" type="button" value="button" />

<hr />
JSON result
@Html.ActionLink("Json Result","Index4")
<br />
Content result
@Html.ActionLink("Content Result","Index5")
