
@{
    ViewBag.Title = "Mvc View dan Controller a veri gönderme";

    SelectListItem[] liste = new SelectListItem[3]
    {
        new SelectListItem(){Text="Bilgisayar"},
        new SelectListItem(){Text="Monitor"},
        new SelectListItem(){Text="Mouse"}
                                            };





}

<h2>View to Controller</h2>
<div>
    @using (Html.BeginForm())
    {@Html.TextBox("text1")
    <br>
    @Html.DropDownList("liste", liste)
    <hr>
    @Html.CheckBox("cbonay")@("Onaylıyorum")
    <input id="Submit1" type="submit" value="submit" />
}</ div >
    @if (IsPost)
    {
        @ViewBag.Message
        <br>
        @ViewBag.Message1
        <br>
        @ViewBag.Message2
    }
