@model MVCEgitimi.Models.Guides

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guides</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofChange)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |*@

@Html.ActionLink("Back to List", "Index")
</p>
