@{ViewBag.Title = "Html Helpers";}

<h2>Html Helpers</h2>

@Html.ActionLink("Anasayfaya gider", "Index")
<br />
@Html.ActionLink("Anasayfaya gider", "Index", "Home")
<br />
@Html.CheckBox("cbOnay",true) Onaylıyorum
<hr />
@Html.Editor("txtadim")
<br/>
@Html.Hidden("hidden element","değer")
<hr />
@Html.Label("lblad","Ürün Adı")
<br />
@Html.TextArea("areatext")
<br />
@Html.TextBox("txtsoyad")
<hr />
@Html.Password("sifre")

